@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	background-color: rgb(56, 55, 55);
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 15px;
	min-height: 93.5vh;
	padding-top: 50px;
	font-family: "Noto Sans TC", sans-serif;
  	font-optical-sizing: auto;
 	font-weight: 400;
 	font-style: normal;
}