* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	background-color: rgb(56, 55, 55);
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 15px;
	min-height: 93.5vh;
	padding-top: 50px;
}

.searchBar {
    margin: 20px auto 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.query-input {
    padding: 17px;
    border-radius: 10px;
    width: 325px;
}

.buttons {
    width: 200px;
}